.signup-heading {
    width: fit-content;
    margin: auto;
}

.signup-form, .input-values {
    width: fit-content;
    margin: auto;
}

.submit-btn {
    margin: auto;
}

.signup {
    padding-top: 7rem;
    padding-bottom: 12.5rem;
    background-color: #FFD371
}

.signup-heading {
    padding-bottom: 4rem;
}