
.blog-content .container.blog {
    padding: 1rem;
}

.blog-content .main-raised {
    margin: 60px 250px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.blog-content .main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.blog-content .title {
    margin-top: 30px;
    margin-bottom: 7px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.blog-content hr{
    margin: 0;
    border: 2px solid #ffae00;
    width: 14rem;
}

.blog-content .description {
    color: #000;
    font-weight: bolder;
    font-family: "Times New Roman";
    padding: 20px 0;
}

.blog-content p {
    font-size: 20px;
    margin: auto;
    width: 800px;
}

.blog-content .blog-info {
    padding-top: 1rem;
}

.blog-content p.author-info {
    width: fit-content;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-size: medium;
}

.blog-content p.time {
    width: fit-content;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
